[2022-10-09 06:42] RIKI-05 opened #1 "Improve the headings...make them bigger and attractive"

[2022-10-09 06:44] RIKI-05 opened #2 "Homepage image is not proper"

[2022-10-09 06:45] RIKI-05 opened #3 "Footer is not properly aligned"

[2022-10-09 06:46] RIKI-05 opened #4 "Make the footer icons bigger"

[2022-10-09 06:46] RIKI-05 opened #5 "Order Button needs animation"

[2022-10-09 06:47] RIKI-05 opened #6 "Add comments to the index.html file"

[2022-10-09 06:47] RIKI-05 opened #7 "Add comments to style.css file"

[2022-10-09 06:49] Abdirizaks12 commented on #4
assign me

[2022-10-09 06:54] JawHawk commented on #3
Can you provide more information about the issue or an image of the issue ? If possible I can work on it.

[2022-10-09 07:03] srijoy-paul commented on #7
I would like to work on this, Can you assign me this task @RIKI-05 ?

[2022-10-09 07:06] srijoy-paul commented on #5
@RIKI-05 Assign me this task

[2022-10-09 07:06] priyanshu6781 commented on #1
Hey, I want to work on this!!

[2022-10-09 07:14] VidishaAG commented on #5
Can I be assigned please?

[2022-10-09 07:14] VidishaAG commented on #3
Can I be assigned? I want to work on this.

[2022-10-09 07:18] VidishaAG commented on #2
I can work on this. Please tell me what kind of image you want and where.

[2022-10-09 07:26] Sowham-3098 commented on #6
Please describe about the issue , like which comments you wants? If possible I want to do it.

[2022-10-09 07:44] Ankit62042 opened #9 "Want to add About Us Section"
About us Section help users to know more about MOMOMIA and it's vision

[2022-10-09 07:45] Ankit62042 commented on #9
I would like to work on this issue

[2022-10-09 07:49] RIKI-05 commented on #9
@Ankit62042  Go ahead!

[2022-10-09 07:50] RIKI-05 commented on #1
@priyanshu6781  accepted

[2022-10-09 07:52] void1244 commented on #9
i want to work on this assign me

[2022-10-09 07:53] RIKI-05 commented on #2
@VidishaAG  As you must have seen the homepage image is getting cut. I want an attractive momo platter without any background to be replaced with the present image
![2022-10-09](https://user-images.githubusercontent.com/62802231/194744718-ee11f19d-7004-4385-ba60-b0d9f6d7a8ee.png)

Can you do this?

[2022-10-09 07:57] hritesh94 commented on #2
Hi can you assign me this issue i think i can work on it

[2022-10-09 07:57] RIKI-05 commented on #3
@ JawHaw
![2022-10-09 (4)](https://user-images.githubusercontent.com/62802231/194744765-ced19e63-37b8-485d-b466-a14fddb5fb37.png)

Possibly make the  icons bigger and change the hover color of the clickable to yellow color that's used in the webpage theme

[2022-10-09 07:58] RIKI-05 commented on #4
@Abdirizaks12 go ahead!

[2022-10-09 07:59] RIKI-05 commented on #5
@srijoy-paul  Go Ahead!

[2022-10-09 08:00] RIKI-05 commented on #6
@Sowham-3098  as you must have seen the web page is quite big if you could possibly comment down different sections ...like where the navbar is beginning or ending etc it would be a great help

[2022-10-09 08:03] sb-decoder commented on #6
Yeah I am happy to do that

[2022-10-09 08:04] RIKI-05 commented on #9
This issue already has an assignee ...please look for another issue or create your own

[2022-10-09 08:05] RIKI-05 commented on #2
@hritesh94 you too can work on this

[2022-10-09 08:05] VidishaAG commented on #7
@RIKI-05 Can I be assigned this issue? I can add the proper comments and documentation.

[2022-10-09 08:07] VidishaAG commented on #2
@RIKI-05 I am unassigning myself from this. I can work on the documentation of style.css . Please assign me that issue

[2022-10-09 08:07] Sowham-3098 commented on #6
Yeah you can assign me

[2022-10-09 08:09] Ahsan-Ehtesham opened #11 "Adding Navbar as Fixed"
I would like to add Navbar as fixed so that a person can easily navigate through nav-tabs
@RIKI-05 Kindly assign it to me with hacktoberfest label.

[2022-10-09 08:11] RIKI-05 commented on #11
@Ahsan-Ehtesham Go Ahead!

[2022-10-09 08:14] RIKI-05 commented on #2
@VidishaAG sure

[2022-10-09 08:15] RIKI-05 commented on #7
@VidishaAG Please go ahead

[2022-10-09 08:19] Swap-nil-2003 commented on #3
@RIKI-05 May I work on this issue?

[2022-10-09 08:19] RIKI-05 commented on #6
@RIKI-05 Please go ahead

[2022-10-09 08:22] sumitbaroniya commented on #6
Please assign me this issue.

[2022-10-09 08:22] sumitbaroniya commented on #4
Please assign me this issue.

[2022-10-09 08:22] sumitbaroniya commented on #7
Please assign me this issue.

[2022-10-09 08:26] Swap-nil-2003 opened #13 "Improving the look of the Headings"
@RIKI-05 may I look to improve the Headings such as Hygiene, Categories etc by editing the borders of the same?

[2022-10-09 08:42] RIKI-05 commented on #13
Please Go Ahead @Swap-nil-2003

[2022-10-09 08:44] Swap-nil-2003 commented on #13
@RIKI-05 thanks! Could you please add the hacktoberfest label to it as well.

[2022-10-09 08:47] Abdirizaks12 commented on #4
thanks..working on it

[2022-10-09 09:10] Anish-Parkhi commented on #1
I want to work on this issue

[2022-10-09 09:17] RIKI-05 commented on #1
Go AHEAD

[2022-10-09 09:33] RIKI-05 opened #17 "Change the Font and font-size of MOMOMIA on the navbar ROBOTO"

[2022-10-09 09:34] ShishuSidharth commented on #17
Can you please assign this to me. I want to work on this

[2022-10-09 09:35] RIKI-05 opened #18 "Change the hover color of the footer clickables to #ffc107"

[2022-10-09 09:35] jsvigneshkanna commented on #18
I would like work on this please assign to my name

[2022-10-09 09:35] RIKI-05 commented on #17
Sure Go ahead @ShishuSidharth

[2022-10-09 09:36] ShishuSidharth commented on #17
Thanks @RIKI-05

[2022-10-09 09:37] RIKI-05 opened #19 "Make the logo on the navbar small"

[2022-10-09 09:37] jsvigneshkanna commented on #19
I would like to work on this, please assign to my name

[2022-10-09 09:38] prerit2001 commented on #18
I would love to contribute on this.

[2022-10-09 09:38] sidmadke commented on #19
@RIKI-05 I can fix this instantly. Can you please assign me this task.

[2022-10-09 09:41] Ahsan-Ehtesham opened #21 "Add "hacktoberfest" as topic"
@RIKI-05 You have written the incorrect spelling of hacktoberfest

[2022-10-09 09:42] #11 closed

[2022-10-09 09:49] jsvigneshkanna commented on #19
PR: #22

[2022-10-09 09:50] rahul8858 commented on #18
I want to contribute. Please assign this issue to me.

[2022-10-09 09:52] Gumanpratapsingh commented on #18
I want to work upon this issue. Please assign the issue to me.
Thanks

[2022-10-09 09:54] ShishuSidharth commented on #17
![Screenshot 2022-10-09 152305](https://user-images.githubusercontent.com/87175803/194750180-5bc92991-e72c-4fe7-a50f-cd4cca46fe45.jpg)

is this alright?

[2022-10-09 09:58] jsvigneshkanna commented on #18
PR: #26
@RIKI-05

[2022-10-09 10:03] RIKI-05 commented on #21
thanks for telling @Ahsan-Ehtesham

[2022-10-09 10:04] priyanshusingh305 commented on #17
please assign me this issue

[2022-10-09 10:11] #21 closed

[2022-10-09 10:15] AditiBendre commented on #18
Hii
Can i work on this issue?

[2022-10-09 10:19] Morbius00 opened #29 "UI and UX changes"
<img src="https://img.shields.io/badge/hacktoberfest-2022-blueviolet" alt="Hacktober Badge"/>

## UI and UX changes
Hey Want to make some UI AND UX changes in your  Web- Page Home section
Please assigned me for this. I hope I will not Disappoint you
and dont forget to add the Hacktober - Fest label
Regards

[2022-10-09 10:29] piyushkdas0611 commented on #18
i would like to work on this

[2022-10-09 10:49] archit2216 commented on #17
Hi @RIKI-05 I have changed the font and font size same as given in screenshots, please merge this PR under the label-hacktoberfest-accepted

[2022-10-09 10:49] #17 closed

[2022-10-09 10:50] RIKI-05 commented on #29
@Morbius00 please go ahead

[2022-10-09 11:18] Arya2210 commented on #19
I would like to work on it

[2022-10-09 11:19] hritesh94 commented on #2
![momomia_updated](https://user-images.githubusercontent.com/89804314/194753924-8ecd0287-fa32-42b6-9896-dbbc78fd43f0.jpg)

Does this looks good? ,as per your comment i thought you wanted a new image,

[2022-10-09 11:24] Oceaneyes123 opened #33 "README.md missing punctuation"
@RIKI-05 I have found a missing punctuation in readme.md file.

Please assign to me, I'll fix it

[2022-10-09 12:04] undextered opened #35 "Making some Design Changes"
1. Increasing Padding in The Nav Links
2. Improving Landing Page Image
3. Improving the Design of Landing Page Overall
4. Properly Aligning Items in Footer

[2022-10-09 14:10] priyanshu6781 commented on #35
Hey, I want to work o this. Please assign me this issue.

[2022-10-09 14:11] RIKI-05 commented on #35
@undextered please go ahead

[2022-10-09 14:12] RIKI-05 commented on #33
@Oceaneyes123 fix it

[2022-10-09 14:19] RIKI-05 opened #38 "Change the hover color of the social icons on the footer to #ffc107"

[2022-10-09 14:20] mb-008 commented on #38
i want to work on this issue

[2022-10-09 14:21] RIKI-05 commented on #38
@mb-008 please go ahead

[2022-10-09 14:26] RIKI-05 commented on #2
@hritesh94  this looks good but you see from right side this image is also getting cut

[2022-10-09 14:29] RIKI-05 commented on #2
![53281477](https://user-images.githubusercontent.com/62802231/194762369-e28e02a3-533b-4ec8-94a1-6764d650297a.jpg)

@hritesh94 try using this remove the background and upload the image

[2022-10-09 14:40] RIKI-05 opened #40 "Invert the colors of navbar"

[2022-10-09 14:41] Eyesnatcher-coder commented on #40
please assign me the issue

[2022-10-09 14:56] nihal-soni opened #44 "I want to Contribute to your project by adding some cheatsheet"
This will helpful for beginner

[2022-10-09 15:02] RIKI-05 commented on #44
What CheatSheet? Can you Explain @nihal-soni

[2022-10-09 15:02] #1 closed

[2022-10-09 15:03] #38 closed

[2022-10-09 15:03] #5 closed

[2022-10-09 15:03] #3 closed

[2022-10-09 15:04] #18 closed

[2022-10-09 15:04] #13 closed

[2022-10-09 15:04] #4 closed

[2022-10-09 15:04] #19 closed

[2022-10-09 15:05] #9 closed

[2022-10-09 15:06] AvadhootK opened #45 "Color of social media icons in footer"
Hey @RIKI-05 ,
The color of social media icons on the footer on hover is messed up. I think the colors of each icon should be relevant to the social media app.
Example : red for instagram.
Can I work on this?
Also, are there any links to the social media to add there?

[2022-10-09 15:08] Shivangbhatnagar237 commented on #40
@RIKI-05, please assign this issue to me, and can you please explain, what do you mean by inverting, is that supposed to be a light/dark mode toggle?

[2022-10-09 15:11] RIKI-05 commented on #45
@AvadhootK let the hover be yellow possibly just paste my LinkedIn link there :P

https://www.linkedin.com/in/rishika-garg05/

[2022-10-09 15:13] nihal-soni commented on #44
java , css , xml

[2022-10-09 15:19] AvadhootK commented on #45
Okay :)
On hover, the color of the icons is changing to blue sometimes. Do you want me to correct that so that the only hover color will be yellow? It will be consistent through all the 3 icons then

[2022-10-09 15:19] hritesh94 commented on #2
![image](https://user-images.githubusercontent.com/89804314/194764870-1aef9e2c-8f33-4d66-853c-7da7bafab223.png)

Is this okay ?

[2022-10-09 16:13] ansharora28 commented on #2
@RIKI-05 can i update the readme file once with the proper screenshot once this PR is accepted?

[2022-10-09 16:16] #35 closed

[2022-10-09 16:17] #29 closed

[2022-10-09 16:17] RIKI-05 commented on #2
Yes Please go Ahead @ansharora28

[2022-10-09 16:20] hritesh94 commented on #2
@RIKI-05 Can you see the screenshot? Or should i change something?

[2022-10-09 16:37] RIKI-05 commented on #40
@Shivangbhatnagar237  I want the text on the navbar to be black and the navbar to be white

[2022-10-09 16:37] #2 closed

[2022-10-09 16:42] RIKI-05 opened #48 "Make the size of hygiene heading equal to the categories heading"

[2022-10-09 16:42] najeebkp commented on #48
Hi @RIKI-05  please assign this to me

[2022-10-09 16:57] Shivangbhatnagar237 commented on #40
Ok, sure I'll work on this

[2022-10-09 17:04] VineethKumarM commented on #48
I want to work on this.

[2022-10-09 17:16] ansharora28 opened #49 "Update readme.md as per latest changes"
The homepage image has been changed,the screenshots in readme.md need to be updated as per the same. I would like to make the changes
P.S. Can i get a URL for the snapshot to paste in readme? Since im not allowed to add assets to the repo

[2022-10-09 17:30] RIKI-05 commented on #49
https://main--momomias.netlify.app/momomia/

@ansharora28  please do the necessary changes

[2022-10-09 17:36] #48 closed

[2022-10-09 17:48] komalioruganti opened #52 "Increase and decrease quantity button not functioning"
The button in Momos section beside Chicken Cheese Fried Momo is not functioning.

[2022-10-09 17:58] satyam73 opened #53 "Adding veg and non-veg marks in checkout modal"
Hello project maintainers,
While I was scrolling through the website I noticed that when a user clicks on checkout the checkout page opens but there is no mark/symbol/logo showing for veg and non-veg which I think should be there. Please assign me this issue so I can work regarding the same.
Attaching the image for reference.
![image](https://user-images.githubusercontent.com/85296770/194772168-c0

[2022-10-09 18:09] vishaaal commented on #52
Assign me to this. I will be working on it.

[2022-10-09 18:17] vishaaal commented on #52
Fixed in Pull Request - #55

[2022-10-09 18:19] AvadhootK opened #57 "Scroll effect of navigation bar"
Hey @RIKI-05 ,
Can I add a transparency effect to navigation bar on scrolling so that it will appear distinct from the background/other page content?

[2022-10-09 18:34] amankumarsahani opened #59 "Responsiveness Issue"
Website is not very friendly with mobile Users as text and images are overflowing. So if you assign this work to me i can resolve this issue.

[2022-10-09 18:58] pawan8120 commented on #49
can I work on that issue sir

[2022-10-10 04:00] RIKI-05 commented on #59
@amankumarsahani please go ahead

[2022-10-10 04:01] RIKI-05 commented on #57
Sure go ahead @AvadhootK

[2022-10-10 04:02] RIKI-05 commented on #53
@satyam73 Please go ahead

[2022-10-10 04:03] #52 closed

[2022-10-10 04:04] #45 closed

[2022-10-10 04:04] RIKI-05 commented on #49
@pawan8120  you can work on this too

[2022-10-10 04:07] RIKI-05 commented on #44
Sorry @nihal-soni please stick to the theme ... only the PR's related to this project is accepted

[2022-10-10 04:07] #44 closed

[2022-10-10 04:08] nihal-soni commented on #44
ok

[2022-10-10 04:08] #40 closed

[2022-10-10 04:10] RIKI-05 opened #60 "Add more items to beverages and Chinese food Menu to Make the Cards Equal"

[2022-10-10 04:14] jsvigneshkanna commented on #60
Please assign this to my name, will work on this

[2022-10-10 04:21] RIKI-05 commented on #60
@jsvigneshkanna  please do the necessary changes

[2022-10-10 04:24] RIKI-05 opened #61 "Create a Contact us Form (with Black and White Color theme)"

[2022-10-10 04:26] RIKI-05 opened #62 "Create a dummy Terms of Service Page (black and White) and link it to index.html"

[2022-10-10 04:28] RIKI-05 opened #63 "Add About us Link in the footer"

[2022-10-10 04:32] RIKI-05 opened #64 "Add the provided momo gif on the left hand side of the navbar"
![monophy](https://user-images.githubusercontent.com/62802231/194799527-b9a53bb8-b6a1-4fc0-9b1a-a8ef4c3a7a21.gif)

[2022-10-10 04:36] Tusharjain123 commented on #61
Hey @RIKI-05 Can I work on this issue?

[2022-10-10 04:37] prateek565 commented on #61
hi I would like to work on this

[2022-10-10 04:38] prateek565 commented on #63
hi @RIKI-05 i would like to work on this issue.

[2022-10-10 04:39] Esha-01 commented on #63
hi @RIKI-05 i want to contribute in this.

[2022-10-10 04:39] codewithrabeeh commented on #64
Could you assign this to me?

[2022-10-10 04:42] navaneethkp36 commented on #63
hi @RIKI-05 I would like to contribute to this

[2022-10-10 04:45] RIKI-05 commented on #64
@codewithrabeeh go ahead with the changes

[2022-10-10 04:46] RIKI-05 commented on #63
@prateek565 @Esha-01 @navaneethkp36 ... whoever does it first!

[2022-10-10 04:47] RIKI-05 commented on #61
@Tusharjain123 @prateek565 please go ahead

[2022-10-10 04:53] SOUMYADIP76 commented on #62
I want work in this issue . please assign me this issue @RIKI-05

[2022-10-10 04:53] RIKI-05 opened #65 "Change the momomia text at the footer with the given image (or similarly styled text)"
![2022-10-10 (2)](https://user-images.githubusercontent.com/62802231/194800853-aacaeaad-e726-44db-90de-20f22f52c5c3.png)

you can use this image or ROBOTO font for the given text and make the background of the text block white and the font black.

[2022-10-10 04:54] RIKI-05 commented on #62
@SOUMYADIP76 Go ahead !

[2022-10-10 04:59] GyanPrakashRaj commented on #65
hlw,
Kindly assign this task to me.

[2022-10-10 05:05] rajutkarsh07 commented on #63
hi @RIKI-05 I would like to contribute to this

[2022-10-10 05:06] RIKI-05 commented on #65
@GyanPrakashRaj Please do the changes

[2022-10-10 05:07] RIKI-05 commented on #63
@rajutkarsh07 this issue already has 3 contributors plz look for some other issue

[2022-10-10 05:28] #64 closed

[2022-10-10 05:34] RIKI-05 opened #67 "Add the glow effect to the checkout button"
Take reference from order now button and keep the button yellow

[2022-10-10 05:35] #33 closed

[2022-10-10 05:35] codewithrabeeh commented on #67
I can do this. Could you assign this to me?

[2022-10-10 05:37] RIKI-05 commented on #67
ya sure @codewithrabeeh

[2022-10-10 05:48] Abhishek8287 commented on #67
I can do this so can u please assign this to me

[2022-10-10 06:05] #67 closed

[2022-10-10 06:07] RIKI-05 opened #69 "Make the website responsive (mobile-friendly)"

[2022-10-10 06:08] RIKI-05 opened #70 "Enhance the UI/UX of the cart pop-pop"

[2022-10-10 06:13] RIKI-05 opened #71 "Create a Custom Scroll bar in black Color"

[2022-10-10 06:13] codewithrabeeh commented on #71
Could you assign this to me?

[2022-10-10 06:14] RIKI-05 commented on #71
Sure

[2022-10-10 06:16] prateek565 commented on #61
HEY @RIKI-05  IS THIS OKAY ?
![Screenshot (9)](https://user-images.githubusercontent.com/78357778/194807655-27ed24e0-7066-4e16-8e20-75ff15e11bd2.png)

[2022-10-10 06:17] RIKI-05 opened #72 "Add Zoom on Hover effect to the momo platter"
![2022-10-10 (4)](https://user-images.githubusercontent.com/62802231/194807624-c505216a-ea32-4e76-80e2-9e3880334974.png)

Effect to be applied on the image shown

[2022-10-10 06:23] amitroy-thedev commented on #70
Hey @RIKI-05 you can assign this to me i can give it a try

[2022-10-10 06:25] shivam7242 commented on #72
can I work on that sir??

[2022-10-10 06:27] 2201monesh commented on #72
Hey @RIKI-05 I would like to work on this issue, can you please assign this issue to me.

[2022-10-10 06:29] RIKI-05 commented on #72
@2201monesh  and @shivam7242  you both can work on this issue

[2022-10-10 06:31] RIKI-05 opened #74 "Make the buttons on the Nav bar active for the respective section"

[2022-10-10 06:32] Coderner opened #75 "Change the cursor to hand pointer upon hovering over a particular category item."
Changing to hand pointer helps in differentiating an interactive element from the rest of the page. Hence this change will render a better user experience and will let user understand that there is more to clicking a particular element.

[2022-10-10 06:33] AvadhootK commented on #74
Hey @RIKI-05 ,
Can I work on this task?

[2022-10-10 06:39] Coderner commented on #74
Hey @RIKI-05, I am willing to contribute, can I work for the same?

[2022-10-10 06:52] RIKI-05 commented on #75
@Coderner go ahead

[2022-10-10 06:54] VineethKumarM commented on #74
Can i work on this?

[2022-10-10 06:59] Coderner commented on #75
Please assign me for the same

[2022-10-10 06:59] rtewari056 opened #78 "Icons not present related to the text in hygiene section"
### In the hygiene section there should be icons related to the text
![hygine](https://user-images.githubusercontent.com/75976169/194812317-50017cf0-f003-4683-b9ce-829c890ec64b.png)

[2022-10-10 07:01] RIKI-05 commented on #61
@prateek565 it was supposed to be a different page...thanks for trying tho

[2022-10-10 07:01] #61 closed

[2022-10-10 07:06] RIKI-05 commented on #74
@AvadhootK  @Coderner @VineethKumarM  yall can work on it

[2022-10-10 07:07] prateek565 commented on #61
I can do it in a separate page if you want . when we click on contact us it will show

[2022-10-10 07:07] RIKI-05 commented on #78
Not quite sure what you are talking about @rtewari056

[2022-10-10 07:10] AshwinSatyawan opened #79 "Grammer on Readme"
Grammer on Readme is shaky assign issue to me to correct it

[2022-10-10 07:11] rtewari056 commented on #78
#### @RIKI-05 There should be icons where the yellow tick marks present
![hygine](https://user-images.githubusercontent.com/75976169/194814261-2c50ab6a-71f6-4371-9a11-719dce1a1684.png)

[2022-10-10 07:13] RIKI-05 commented on #79
please go ahead @AshwinSatyawan

[2022-10-10 07:21] AshwinSatyawan commented on #79
Done from my side

[2022-10-10 07:23] #71 closed

[2022-10-10 07:23] #79 closed

[2022-10-10 07:28] RIKI-05 commented on #78
@rtewari056 leave it like that how about you just change the font color of hygiene to black

[2022-10-10 07:34] VineethKumarM commented on #69
can i work on this?

[2022-10-10 07:36] #62 closed

[2022-10-10 07:37] RIKI-05 opened #83 "Invert the color theme of terms of service page (font white , page black)"

[2022-10-10 07:38] codewithrabeeh commented on #83
Can I work on this?

[2022-10-10 07:51] GyanPrakashRaj commented on #65
Did you want this change?
if you approve then ill send PR.
![omm](https://user-images.githubusercontent.com/79048275/194819996-b4883def-e892-4e48-ba9a-792a0f830e73.gif)

[2022-10-10 08:02] #83 closed

[2022-10-10 08:04] RIKI-05 commented on #78
@rtewari056 Ok go ahead with the changes

[2022-10-10 08:11] RIKI-05 opened #87 "Add animation to the word inebriates"

[2022-10-10 08:16] Aman1143 opened #89 "Add feedback section"
I want to add feedback section at bottom .where users can give their feedback about MOMOS.

[2022-10-10 08:17] Aman1143 commented on #89
I want to add this feature in this repo can you Allow me ??

[2022-10-10 08:27] OkenHaha commented on #87
Hello, I would like to work on this, can you assign me to this?

[2022-10-10 08:27] RIKI-05 commented on #89
@Aman1143  Please go ahead

[2022-10-10 08:28] AmanPandagre21 commented on #87
I would like to work on these can you please assign this task to me

[2022-10-10 08:28] RIKI-05 commented on #87
@OkenHaha  and @AmanPandagre21  you both can work on this

[2022-10-10 09:06] RIKI-05 commented on #65
@GyanPrakashRaj it's good just change the font style to Roboto

[2022-10-10 09:07] RIKI-05 commented on #69
@VineethKumarM , please go ahead

[2022-10-10 09:08] jsvigneshkanna opened #91 "Mobile navbar not working"
Description:

Mobile navbar not looking nice as expected

Screenshot:
![image](https://user-images.githubusercontent.com/42484705/194832516-8caecc74-515d-4c4c-80af-e9e30ecc9fcb.png)

Please assign this issue to my name, will work on this

[2022-10-10 09:33] GyanPrakashRaj commented on #65
resolved kindly check PR, it was assigned to me.

[2022-10-10 10:00] RIKI-05 commented on #91
@jsvigneshkanna  please do the necessary changes

[2022-10-10 10:02] #72 closed

[2022-10-10 10:08] sumitbaroniya commented on #75
Please assign me this issue

[2022-10-10 10:14] sumitbaroniya opened #95 "Improvement in Footer"
Please assign me this issue. I would like to contribute in it under hacktoberfest.

[2022-10-10 10:47] ItzAdarsh01 commented on #95
Hello Sumit, Can you please assign me this issue. I want to contribute in it under hacktoberfest.

[2022-10-10 10:49] ItzAdarsh01 commented on #95
Hi Rishika, Can you please assign me this issue. I would like to contribute in it under hacktoberfest.

[2022-10-10 10:49] Priyankar9706 opened #97 "Footer heading " MOMOMIA" appearing twice"
"MOMOMIA" is appearing twice
![Screenshot (10)](https://user-images.githubusercontent.com/84610418/194849695-92054469-9423-4309-a2d4-2509724ae416.png)

[2022-10-10 10:50] Priyankar9706 commented on #97
Please assign me the issue

[2022-10-10 10:55] sumitbaroniya commented on #95
Please work on another issue. I am working on this issue

[2022-10-10 11:07] GyanPrakashRaj commented on #97
hi, @Priyankar9706  its becz of two merges of the same issue.
consider https://github.com/RIKI-05/MOMOMIA/pull/92 as the original.
you have to remove line no. 1273  in index.html
keep the original (line no. 1275)
 <a class="footer_clickable" href="#" font-family="Roboto" style="font-size :56px" text-style >MOMOMIA</a>

[2022-10-10 11:58] amananand917 opened #98 "enhancement in the buttons of Navbar."
@RIKI-05
i would like to work on this issue under hactoberfest.

[2022-10-10 12:13] Rashmisingh-18 opened #99 "Improving responsiveness of navbar"
![MOMOMIA and 6 more pages - Personal - Microsoft​ Edge 10-10-2022 5 34 33 PM](https://user-images.githubusercontent.com/90052358/194863853-355e824d-69af-4df5-ae54-38dee69c58ca.png)

[2022-10-10 12:14] Rashmisingh-18 commented on #99
Hey @RIKI-05, can you please assign this issue to me

[2022-10-10 12:29] Mahak008 opened #101 "Add Photo Gallery section to the web page."

[2022-10-10 13:47] HariPrasath-3 commented on #87
can I work on this task?

[2022-10-10 14:00] bhushan162 commented on #89
can i work on this ?

[2022-10-10 14:01] bhushan162 commented on #75
can i work on this issue?

[2022-10-10 14:08] RIKI-05 commented on #101
umm Idk how it will look :/

[2022-10-10 14:08] #97 closed

[2022-10-10 14:10] RIKI-05 commented on #98
@amananand917 do the necessary changes

[2022-10-10 14:11] RIKI-05 commented on #99
@Rashmisingh-18 the issues's yours to be resolved go ahead

[2022-10-10 14:18] RIKI-05 commented on #74
Hey no One's working on this ?

[2022-10-10 14:18] #49 closed

[2022-10-10 14:18] #57 closed

[2022-10-10 14:18] #59 closed

[2022-10-10 14:18] #60 closed

[2022-10-10 14:18] #65 closed

[2022-10-10 14:19] #75 closed

[2022-10-10 14:19] #87 closed

[2022-10-10 14:20] RIKI-05 commented on #89
@bhushan162 yes please go ahead

[2022-10-10 14:34] amitroy-thedev commented on #70
The project is done..
I could do it more better but the code was breaking hope you'll like it..

[2022-10-10 15:20] idraksheikh opened #112 "Change the fonts of Momomia in the navbar."
change the font-family of Momomia in the navbar if you permit.

**Before changing:**

![image](https://user-images.githubusercontent.com/60965415/194899757-d02357e7-ca70-4e21-819e-2d994ecfd9af.png)

**After changing:**

![image](https://user-images.githubusercontent.com/60965415/194900158-89ec0951-4e50-432b-bc66-086afde6925d.png)

[2022-10-10 15:20] amitroy-thedev commented on #101
hey @RIKI-05 the cart ui/ux issue closed would you open it again

[2022-10-10 15:45] amitroy-thedev commented on #101
before merging other pull request please merge mine one i've done the work twice

[2022-10-10 16:31] RIKI-05 commented on #112
@idraksheikh it looks nice ...do the same for momomia text on the footer

[2022-10-10 16:39] RIKI-05 commented on #70
@amitroy-thedev i opened your pr it has some conflicts fix them ill merge your pr

[2022-10-10 16:40] RIKI-05 commented on #101
@amitroy-thedev the issue and the pr both are open ...please do the necessary changes

[2022-10-10 16:41] idraksheikh commented on #112
Ok @RIKI-05

[2022-10-10 16:52] Mahak008 commented on #101
Hi,
Can I send you some sample images on mail ?

On Mon, 10 Oct, 2022, 19:38 Rishika Garg, ***@***.***> wrote:

[2022-10-10 17:00] #99 closed

[2022-10-10 17:01] jsvigneshkanna commented on #91
@RIKI-05 PR raised - #115

[2022-10-10 17:01] #69 closed

[2022-10-10 17:01] #91 closed

[2022-10-10 17:48] #112 closed

[2022-10-10 17:49] RIKI-05 commented on #101
@Mahak008 Please look for some other issue ...i guess this won't look good

[2022-10-10 17:49] #101 closed

[2022-10-10 18:15] rishissahu commented on #112
I would like to change the font of Momomia.

[2022-10-10 21:26] hitmankk commented on #98
I would like to contribute

[2022-10-10 21:34] satyam73 commented on #53
Hello, I have raised pull request  #125  regarding this. Please check and let me know what you think.
Thanks!

[2022-10-11 04:26] Aman1143 commented on #89
Hii @RIKI-05 I added this feature in same page but I can add this feature as link in navbar .
pls assign it me

[2022-10-11 04:29] #78 closed

[2022-10-11 05:18] HarineMurugan opened #127 "CSS Improvements in Cart Modal"

[2022-10-11 05:59] #127 closed

[2022-10-11 05:59] #98 closed

[2022-10-11 06:01] #95 closed

[2022-10-11 06:03] RIKI-05 opened #129 "Change the color of the Cart Text area to white and font to black"
![2022-10-11 (1)](https://user-images.githubusercontent.com/62802231/195008932-9907262b-5bc2-421f-ac0c-a1e165a6eae8.png)

[2022-10-11 06:04] syprogrammer commented on #129
can you assign me

[2022-10-11 06:04] RIKI-05 opened #130 "Replace the red tick marks with whatsapp icon and gpay icon in the cart"
![2022-10-11 (1)](https://user-images.githubusercontent.com/62802231/195009084-4e5d1220-1183-4aef-8d6c-cc637d753d94.png)

[2022-10-11 06:05] RIKI-05 commented on #129
yes sure

[2022-10-11 06:06] ayobamiseun commented on #130
i will like to do that

[2022-10-11 06:29] Swap-nil-2003 opened #131 "Changing Color of Navbar Items"
The colour of Navbar Items - Home, Category etc is not visible against the background. I would like to change that.

[2022-10-11 06:31] RIKI-05 commented on #130
go ahead

[2022-10-11 06:37] amitroy-thedev commented on #130
Hey @RIKI-05 i would like to change Cart UI I've some new ideas next time assign a issue this to me..
But don't tagged that issue as hacktoberfest Or hacktoberfest-accept i just want to change ui

[2022-10-11 07:12] VineethKumarM commented on #74
hey @RIKI-05 I am already on it and will make a pr soon. But someone already made a pr for this?😥

[2022-10-11 07:20] ShravaniAK opened #133 "create a contact page"

[2022-10-11 07:20] ShravaniAK commented on #133
pl assign me this issue

[2022-10-11 07:33] HariPrasath-3 commented on #130
can I work on this is issue

[2022-10-11 07:40] RIKI-05 commented on #133
@ShravaniAK we already have a contact page .... if you can just add the navbar to it (present in the index.html) that would be a great help

[2022-10-11 07:41] ayobamiseun commented on #130
done

[2022-10-11 07:43] RIKI-05 commented on #131
![2022-10-11](https://user-images.githubusercontent.com/62802231/195026272-b0156d18-8f54-4a90-91a1-dfc245593743.png)

@Swap-nil-2003 ....the navbar is quite good and clear can you explain to me about what changes are you talking about

[2022-10-11 07:54] #53 closed

[2022-10-11 07:54] #70 closed

[2022-10-11 07:54] #74 closed

[2022-10-11 07:56] RIKI-05 opened #137 "Add navbar to terms of service page"
![2022-10-10 (4)](https://user-images.githubusercontent.com/62802231/195031654-99871320-931a-43f1-91e9-7ec212a123ed.png)

navbar should exactly look like the one present in index.html

[2022-10-11 07:59] Akshu-on-github commented on #137
Hey there, I'd like to take this up

[2022-10-11 08:09] Aman1143 commented on #137
hii @RIKI-05 I want to add this feature . can you assign it me ??

[2022-10-11 08:10] Aman1143 commented on #133
hii @RIKI-05  I want to add navbar on the contact page . pls assign it to me

[2022-10-11 08:20] Swap-nil-2003 commented on #131
![Screenshot_20221011-134952](https://user-images.githubusercontent.com/93329536/195037168-84669776-54a5-4235-adf6-e9815e777100.jpg)
In the mobile version, the Navbar Items are not visible clearly due to the background.

[2022-10-11 08:26] aaakashkumar opened #138 "Add a favicon for the website"
![image](https://user-images.githubusercontent.com/32223788/195038592-d2d5d20f-cdc0-4f9d-807b-f258fb33c373.png)
A website looks incomplete without a favicon.
Will use this, or any suggested by you

[2022-10-11 08:27] #138 closed

[2022-10-11 09:25] AvadhootK opened #139 "Adding footer to Terms and services page"
Hey @RIKI-05 ,
I would like to add the footer to terms and services page which will be the same as home page.
Also, there is no way of navigating back to the home page from the terms and services page as well as the contact page.
I would like to include a link to home page besides the other links in the footer.

![Screenshot (678)](https://user-images.githubusercontent.com/72447002/195052193-db7f1

[2022-10-11 10:13] subashpaul commented on #137
can u assign this to me?

[2022-10-11 10:18] Anukool1729 commented on #133
Hi please assign me this issue, I would like to  work on this.

[2022-10-11 10:18] amitroy-thedev commented on #137
Hey @RIKI-05 i need some help
Is it necessary to contribute 4 pull request from 4 different repos ?

[2022-10-11 11:48] amitroy-thedev opened #141 "Redesign the Contact Page"
The contact page is not well designed i'd like to redesign the contact page entirely ..
If possible you can assign this project to me and i'm sure you would love it ..
And label this project as hacktoberfest..
Btw i'm doing 2nd contribution in the same repo will it count as valid hacktoberfest project ??

[2022-10-11 12:48] VedVaghela opened #143 "Improvement in Checkout Form (Address and Note Block)"
I would like to Improve the Address and Note Block in the checkout form, as the colours of the boxes seem a bit odd.
![image](https://user-images.githubusercontent.com/94840462/195094559-624e5ceb-35ee-4f38-b8e2-f7d95e48f98f.png)

[2022-10-11 12:52] VedVaghela opened #144 "Improvement in Checkout Form (Order Options)"
Needs to be designed properly
![image](https://user-images.githubusercontent.com/94840462/195095570-c31a7225-1ce2-4486-b750-405250dd0ef8.png)

[2022-10-11 12:53] VedVaghela commented on #144
I would like to work on this

[2022-10-11 12:55] #143 closed

[2022-10-11 13:15] DhirajGilda commented on #139
is this issue assigned @AvadhootK

[2022-10-11 13:16] DhirajGilda commented on #139
i would like to work on this

[2022-10-11 13:21] dharmikjethva30 opened #145 "UI improvement"
Improve of how price of itemis shown. Appropriate spacing is not given. Also can add Rupee symbol to it
![image](https://user-images.githubusercontent.com/97388367/195102343-5ba3a66e-7641-4e26-a1ea-3b5556285935.png)

[2022-10-11 14:24] RIKI-05 commented on #145
@dharmikjethva30 please do the necessary changes

[2022-10-11 14:25] RIKI-05 commented on #144
@VedVaghela Yes Please go ahead

[2022-10-11 14:30] RIKI-05 commented on #141
@amitroy-thedev
this project is labelled as hacktoberfest that's why all the PRs are getting counted ... if you're asking to name my project as hacktoberfest I can't do that bcz many repos have got excluded because of this reason

As for the Contact page surely you can work on it and your PR will definitely be counted many of the contributors of this project have contributed more than once

[2022-10-11 14:34] RIKI-05 commented on #139
@AvadhootK sorry for the delay please do the necessary changes

[2022-10-11 14:36] RIKI-05 commented on #139
@DhirajGilda if you want you can make a dummy policies page

[2022-10-11 14:39] RIKI-05 commented on #131
@Swap-nil-2003  Oh ohkay it would be great if you can work on it 😄

[2022-10-11 15:37] Jatayu-u opened #146 "Changing the spacing/style of social media icons in footer."
Please, assign this issue to me.

[2022-10-11 15:40] ena-04 commented on #130
i would like to work on this issue.

[2022-10-11 15:43] ena-04 commented on #137
hi, i would like to work on this issue

[2022-10-11 16:40] azeddine011 commented on #141
Hi @RIKI-05, can you assign this task to me?

[2022-10-11 18:29] syprogrammer commented on #129
@RIKI-05 i have made changes now it look like this check it : https://bit.ly/3TaFcou

[2022-10-11 18:59] trats08 opened #149 "Add animation effects to the social media icons"
Addition of animation to these icons can enhance the UI experience.

Kindly assign me the same issue and add the hacktoberfest label to it. @RIKI-05

[2022-10-12 09:38] ImanHasan commented on #145
I would like to on that please assign this to me

[2022-10-12 12:55] ena-04 opened #154 "Make the page responsive for smartphone widths"
i would like to work on this, please assign it to me

[2022-10-12 13:31] piyush-mahajan commented on #149
can you please assign me this issue? I would love to work on this project. I can help with animation and UI.

[2022-10-12 13:43] RIKI-05 commented on #154
@ena-04 the project is working fine for the smartphone width can you point out the issues you are referring to

[2022-10-12 13:44] RIKI-05 commented on #149
@trats08  you can work on it

[2022-10-12 13:45] #146 closed

[2022-10-12 13:45] #144 closed

[2022-10-12 13:45] #145 closed

[2022-10-12 13:46] #133 closed

[2022-10-12 13:47] RIKI-05 commented on #129
@syprogrammer make the PR it looks good

[2022-10-12 13:48] #89 closed

[2022-10-12 13:50] RIKI-05 opened #155 "Add navbar to the terms and condition page"
Nav bar should look exactly like the one in index.html

[2022-10-12 13:53] #139 closed

[2022-10-12 13:53] AvadhootK commented on #155
Hey @RIKI-05 , can I work on this?

[2022-10-12 14:20] RIKI-05 commented on #154
@ena-04 ohkay you can work on the issue

[2022-10-12 15:14] amitroy-thedev commented on #141
![IMG_20221012_204205](https://user-images.githubusercontent.com/104709542/195381107-126467b0-5ddd-4df9-b637-29fb355cbf47.jpg)
This is the demo design I hope you you like it..
It might take some time to code..
But I'll pr within 1-2 days

[2022-10-12 15:44] amitroy-thedev commented on #141
Hey @RIKI-05
![IMG_20221012_204205](https://user-images.githubusercontent.com/104709542/195388327-676ec80d-95c1-4d48-a0be-9d423bf4c690.jpg)
 This is the demo design I hope you like it..
I'll code the design and will send the PR within 1-2 days..

[2022-10-12 16:09] VineethKumarM commented on #155
Can i work on this?

[2022-10-12 16:26] ayobamiseun commented on #155
can i work on this

[2022-10-12 16:45] RohitSaklani commented on #155
i would like to contribute on this  .
can you assign me ?

[2022-10-12 17:18] kituuu commented on #141
S#it, I just sent a PR for Contact US page. 0_0

[2022-10-12 17:19] kituuu commented on #141
Bro please can you give this task to me, I already made the PR... I was working on this from 4 PM.

[2022-10-12 17:23] amitroy-thedev commented on #141
And I'm working on it since yesterday

[2022-10-12 18:06] kituuu commented on #141
Batao na :)

[2022-10-12 20:00] ankitbajpai65 opened #160 "Improve the UI of contact form and add validation to the form"
Hey @RIKI-05, I want to improve the UI of the website's contact form with an additive feature of its validation. So, therefore, please assign me this issue so that I can work on the same.
Thanks!
![image](https://user-images.githubusercontent.com/85179394/195435522-08d3d1a1-aac7-41be-8ccd-bea2bc2a0470.png)

[2022-10-13 03:35] kituuu commented on #160
Hey Di, I updated the contact UI but I don't know how to validate the form...

[2022-10-13 05:14] Coderner opened #162 "making Momomia heading in footer interactive"

[2022-10-13 05:16] Coderner opened #163 "Who we Are page"

[2022-10-13 06:23] RIKI-05 commented on #160
@ankitbajpai65 ...sorry but @kituuu have already made one....if you could make terms of service page attractive then please go ahead

[2022-10-13 06:25] RIKI-05 commented on #155
With so many competitors it's

😅

[2022-10-13 06:31] RIKI-05 commented on #163
@Coderner we already have a contact us form

but if you want you can create a page like this  [https://www.zomato.com/who-we-are](url) ... note this is just for reference
"Who we Are"  for momomia

[2022-10-13 06:32] #162 closed

[2022-10-13 06:33] #129 closed

[2022-10-13 06:36] RIKI-05 commented on #141
Yahan to jhagda hogaya 😭 ...don't worry guys @kituuu @amitroy-thedev  ...you can work on it...I'll accept both the PRs...but sadly I'll have to choose the one that resonates more with the theme

[2022-10-13 06:38] kituuu commented on #141
Are jhagna nhi hai xD It's fine ... maine 6 din pehle git use karna sikha tha ... I don't know ki issues naam ki bhi koi cheez hoti hai .

[2022-10-13 06:51] Coderner commented on #163
Ok @RIKI-05, please assign me for the same

[2022-10-13 08:31] amitroy-thedev commented on #141
Hello @RIKI-05 i'm having problem
see the screenshot please help to solve it
![Screenshot 2022-10-13 135945](https://user-images.githubusercontent.com/104709542/195544795-74ebcebf-6ef3-4f4d-9de0-5a616bad2fa0.png)
commited twice please guide me how to revert one or do i send the pull request

[2022-10-13 08:59] ankitbajpai65 commented on #160
Okay. But at present, I am not getting any major improvement on the "terms of service" page. If you have any suggestions in your mind, please tell me so that I could do that.

[2022-10-13 12:14] kituuu commented on #141
If u send PR it will have the changes caused by the latest commit ... Do you want to send PR with an old commit ??

[2022-10-13 12:21] amitroy-thedev commented on #141
@kituuu all commits have the same changes

[2022-10-13 12:27] kituuu commented on #141
Fir koi dikkat nhi hai ... PR bhej do ...But still if you
Option 1: want to merge them
Use:
git log
-> copy commit code of 1st commit (jo commit merge karna hai uske neeche wale commit ka code)
git rebase -i <commit code of 1st>
Fir ek file open honge usme 2 commit aa rahe honge ... Aur dono ke aage 'pick' likha hoga ...
Pick commit 1
Pick commit 2
Isko aise kar dena
Pick commit 1
s commit 2
... I

[2022-10-13 12:35] amitroy-thedev commented on #141
@kituuu I've send the pr.. Thanks let's kya hota hai

[2022-10-13 12:59] priyadarshni-jha opened #167 "Add more items in beverages & garlic sauce is twice in menu"
@RIKI-05
Assign me this issue to add more items in the beverage section like different shakes, tea, coffee and Cappuccino also to remove 1 garlic sauce from the main course section since it is added twice.

[2022-10-13 14:44] RIKI-05 commented on #160
@ankitbajpai65

- set the target of the terms of services page to black so that it can open in a different tab when I open the same

- Just add the navbar and in the navbar remove home categories and hygiene clickables and just leave the contact us clickable (make sure it's working)

Can you do that?

[2022-10-13 14:52] #141 closed

[2022-10-13 15:15] pranjalkatiyar opened #172 "Improve the menu responsiveness"
At the particular width size, the menu or navbar shrinks but on clicking on the button list is not completely visible
![image](https://user-images.githubusercontent.com/76843696/195636702-fd250fcc-7c4e-4401-9a79-5045ea73cebf.png)

[2022-10-13 15:27] ena-04 commented on #155
@RIKI-05  i have modified it and created a pr, please check.

[2022-10-13 15:36] ena-04 commented on #154
@RIKI-05 i have modified it and created a pr, please check.

[2022-10-13 15:54] kituuu commented on #141
Do you have any unpushed commits?

[2022-10-13 18:29] RIKI-05 commented on #172
@pranjalkatiyar Go ahead with the issue

[2022-10-13 18:41] amitroy-thedev commented on #141
Idk

[2022-10-13 18:42] amitroy-thedev commented on #141
I don't think so

[2022-10-13 20:13] ankitbajpai65 commented on #160
Yes, I can do that. Assign this issue to me.
Thanks!

[2022-10-14 08:56] #167 closed

[2022-10-14 11:41] samipashaa opened #175 "Add License"
I noticed this repository doesn't have a license.
If you don't mind I would like to add one to clarify  what others can and can't do with this repository.

I was thinking either the apache or the MIT license would work.

[2022-10-15 07:07] samipashaa commented on #175
Sure, on it!

[2022-10-15 15:38] #175 closed

[2022-10-15 15:42] Arka009chakraborty commented on #155
I want to work in this .
Can I work?

[2022-10-16 05:19] Vanshiii203 opened #178 "Adding a cursor pointer to the categories"
https://user-images.githubusercontent.com/94471189/196019425-dab1f7b9-96db-4221-a1f0-2cf1d65df9bc.mp4

[2022-10-16 05:26] Vanshiii203 opened #179 "the nav-links of contact us page are not correct"
https://user-images.githubusercontent.com/94471189/196019626-167f3650-41d8-477b-bdad-d6d9bf9afc9b.mp4

[2022-10-16 06:55] bhattabhi013 opened #180 "Add GitHub link"
Add GitHub link in socials.

[2022-10-16 10:54] bhattabhi013 commented on #180
I'll like to work on this.

[2022-10-16 11:28] zugzwang03 opened #182 "Add chat with whatsapp feature"
I want to add the "chat with whatsapp" feature for placing the order by the user.
I can add a dummy number, that can add a realistic view to the website, later if you get any valid number, you can add that in.
Also, there are certain link fixes that needs to be done in the website, I can work on that as well simultaneously.
Can I contribute it under Hacktoberfest'22?

![whatapp](https://user-image

[2022-10-17 03:28] MohitNamdev22 opened #183 "Contact Us page is not responsive"
The Contact US page isn't responsive, so can I work on this under Hacktoberfest '22?
![image](https://user-images.githubusercontent.com/89779447/196083146-e1f58f44-c55c-4aa1-9504-5c511f05296e.png)

[2022-10-17 08:26] devwithsubhrajit2002 opened #185 "No need of Contact us link in the Contact.html page"
There is no need for the contact us link below in the contact us.html itself. Why should I click the contact link again as I already entered the page?
@RIKI-05 please assign me the task of removing this link in the contact us.html page under the Hactoberfest tag.
![new issue in momo](https://user-images.githubusercontent.com/108873732/196126801-84e2da49-bd34-42b2-b502-54e51defdc7c.png)

[2022-10-17 09:28] devwithsubhrajit2002 opened #186 "Adding a policy.html and policy.css so that Policy link works in the footer section"
Adding a policy.html and policy.css so that the Policy link works in the footer section as there is no policy section in the website.
@RIKI-05 please assign me the task of adding this to the repository under the Hactober fest tag.

[2022-10-18 05:55] habeebputhiyakath opened #187 "Make the page responsive"
aims to   make web pages render well on a variety of devices and window or screen sizes from minimum to maximum display size to ensure usability and satisfaction
#154

[2022-10-18 07:25] mchirag2002 opened #188 "Improve the styling of the headings"
I would like to change the style of the headings in the Categories and Hygiene sections
![image](https://user-images.githubusercontent.com/71757438/196363867-f1fffbf9-3c47-4d20-bb0c-83f80eb58272.png)
![image](https://user-images.githubusercontent.com/71757438/196364042-faf90b59-896e-481a-8e56-b9bf23d6378a.png)

And change them to -
![image](https://user-images.githubusercontent.com/71757438/196364

[2022-10-18 07:26] mchirag2002 commented on #188
@RIKI-05 Please assign this issue to me under the Hacktoberfest tag.

[2022-10-18 08:14] chaotic-10 commented on #188
@RIKI-05  I'm able to solve this issue, so if you  could assign me this task, under the Hacktoberfest tag.

[2022-10-18 08:58] aankitasoni commented on #155
I would like to work on this repository, would you please assign this to me. @RIKI-05

[2022-10-18 09:27] maneet057 commented on #188
Can I please do it under Hacktoberfest tag??

[2022-10-18 09:28] maneet057 commented on #155
Can I please do it under Hacktoberfest tag??

[2022-10-18 09:29] maneet057 commented on #131
Can I please do it under Hacktoberfest tag??

[2022-10-18 11:33] habeebputhiyakath commented on #188
i'm ready to Improve the styling of the headings
Please assign  me this issue
 the Hacktoberfest tag.

[2022-10-18 13:35] habeebputhiyakath opened #189 "change the contact US page header style to the same as the home page header style"
change the contact US page header style to the same as the home page header style

I'm able to solve this issue, so if you could assign me this task, under the Hacktoberfest tag.

![Contact US and 3 more pages - Personal - Microsoft​ Edge 18-10-2022 17_40_00](https://user-images.githubusercontent.com/110285678/196440106-8a2fe297-980b-4071-969d-e2e66ea4fdbe.png)
![Contact US ](https://user-images.g

[2022-10-18 14:34] RIKI-05 commented on #178
@Vanshiii203 go ahead with the changes

[2022-10-18 14:36] RIKI-05 commented on #179
@Vanshiii203 please do the necessary changes

[2022-10-18 14:37] RIKI-05 commented on #180
@bhattabhi013 The change is not required

[2022-10-18 14:37] #180 closed

[2022-10-18 14:39] RIKI-05 commented on #182
@zugzwang03 this feature already exists in the present design ...try placing an order 😉

[2022-10-18 14:39] #182 closed

[2022-10-18 14:39] RIKI-05 commented on #183
@MohitNamdev22 You can work on it

[2022-10-18 14:42] RIKI-05 commented on #185
@devwithsubhrajit2002 just remove the contact us link from the footer

[2022-10-18 14:43] RIKI-05 commented on #186
@devwithsubhrajit2002  sure you can go ahead with the issue

[2022-10-18 14:44] RIKI-05 commented on #188
@mchirag2002 the change isn't required

[2022-10-18 14:44] #188 closed

[2022-10-18 14:45] RIKI-05 commented on #189
@habeebputhiyakath sorry this issue has already been solved

[2022-10-18 14:45] #189 closed

[2022-10-18 14:47] #131 closed

[2022-10-18 14:47] #154 closed

[2022-10-18 14:47] #155 closed

[2022-10-18 14:47] #160 closed

[2022-10-18 14:52] habeebputhiyakath opened #191 "minor loading problem was detected"
A minor loading problem was detected
![MOMOMIA and 5 more pages - Personal - Microsoft​ Edge 18-10-2022 17_35_17](https://user-images.githubusercontent.com/110285678/196465220-0d39d11a-bb28-4ca6-9c94-bb94280cb772.png)

[2022-10-18 14:54] maneet057 opened #192 "UI of the send message box can be changed to make it match with the background"
![image](https://user-images.githubusercontent.com/77922626/196464666-f1e93b86-e1fc-4d4e-82c7-e77d3319b981.png)
This box's color and a bit of shape can be changed to make it look more attractive and pleasing.

Please assign me this issue under hacktoberfest.

[2022-10-18 14:55] habeebputhiyakath commented on #189
ok

[2022-10-18 21:14] constneophyte opened #194 "improve the page responsiveness on mobile view"
![issue](https://user-images.githubusercontent.com/99181713/196546218-42089a06-5198-44ea-84c7-8852f8857c40.PNG)
I would like to work on the responsiveness and make it better

[2022-10-19 01:29] Vanshiii203 opened #195 "Improving the readme.md file"

[2022-10-19 07:55] bhattabhi013 opened #197 "Add issue template"
Add issue template in the project.

[2022-10-19 07:56] bhattabhi013 commented on #197
I'll like to work on this, please assign this to me.

[2022-10-19 14:34] Aman1143 commented on #195
I want to improve readme.md file . assign it me

[2022-10-19 14:38] Aman1143 opened #198 "Navbar is not sticky in contact page"

[2022-10-19 14:38] Aman1143 commented on #198
I want to solve this problem .can you allow me to solve this problem??

[2022-10-19 14:56] RIKI-05 commented on #197
@bhattabhi013 what will you add in issues

[2022-10-19 14:57] RIKI-05 commented on #198
@Aman1143  since it's just a one short page so sticky navbar is not required

[2022-10-19 14:57] #198 closed

[2022-10-19 14:58] RIKI-05 commented on #194
@constneophyte  please go ahead with the necessary changes

[2022-10-19 14:59] RIKI-05 commented on #192
@maneet057 go ahead with the changes

[2022-10-19 15:00] RIKI-05 commented on #191
@habeebputhiyakath can you explain more about the issue..

[2022-10-19 15:00] #185 closed

[2022-10-19 15:00] #186 closed

[2022-10-19 15:00] #178 closed

[2022-10-19 15:01] RIKI-05 commented on #195
@Vanshiii203  you can work on it

[2022-10-19 15:30] subratkumar46 opened #199 "Improving responsiveness of NavBar"
1) Navbar of home page does not closes when we use it in mobile view .
2) It always shows HOME no matter in which section we are .

Please assign this issue to me . I would like to fix it .

[2022-10-19 15:51] maneet057 commented on #192
Ok thank you!

[2022-10-19 16:41] Aman1143 commented on #195
Hii @RIKI-05  What type of changes you want to see ??
If you tell me this . Defiantly it help me to improve readme.md file.

[2022-10-19 17:01] maneet057 opened #201 "The logo on the Contact Us page is different from others"
Main page:-

![image](https://user-images.githubusercontent.com/77922626/196756292-10b24576-96ce-4ad9-8447-f704bf2259b8.png)

Contact us page:-

![image](https://user-images.githubusercontent.com/77922626/196756419-db76d28d-0c64-4779-9512-7b4bf4c817d1.png)

The logo is suppose to be same in all the pages. The font of the logo of these both pages are different from each other.

Please assign me thi

[2022-10-19 17:42] Sidkul2000 opened #202 "Tabs not working"
Tabs on navigation bar does not work on contact us page. Only the tab to the home page is working.
Please assign me this task, I am working on it.

[2022-10-19 18:10] Sidkul2000 commented on #195
Hi @RIKI-05 ! I am ready to make changes as required in the readme.md file. Could you please assign this task to me?

[2022-10-20 18:54] exotic123567 opened #204 "Momomia logo in different font"
The logo of Momomia in the homepage is different from the one in contact us page. I can change it, please assign me the task.
![Momomia](https://user-images.githubusercontent.com/86504733/197033736-30064331-8cc0-4ca2-9640-93c6c01df0f1.JPG)

[2022-10-21 13:18] devwithsubhrajit2002 opened #205 "Removal of Know More button in Hygiene section which is of no use"
The know more button opens the foodcourt app through which Foods are orderd. So if customers click that they would leave the MOMOMIA website and order on that Foodcourt website. How hygeine is linked to Foodcourt app or website. So i would suggest to remove the Know more button since what is having is enough for customers or change the link to appropriate Hygiene website.
@RIKI-05 please assign me

[2022-10-21 13:19] devwithsubhrajit2002 commented on #205
@RIKI-05 please look into this and assign me this task under Hactoberfest tag.

[2022-10-22 03:38] Pallavibahekar opened #206 "Making menu aligned at proper position/"
As it is not looking good,
![2022-10-22 (1)](https://user-images.githubusercontent.com/97456579/197317450-41c6d704-679e-4395-b30b-b5a6398e5d8f.png)
I want to make it proper.
Could you please assign me this issue under hacktoberfest2022?

[2022-10-22 10:22] MohitNamdev22 opened #207 "Adding Testimonials section"

[2022-10-22 18:00] RIKI-05 commented on #206
@Pallavibahekar plz do the necessary changes

[2022-10-22 18:02] RIKI-05 commented on #205
@devwithsubhrajit2002 I don't intent to remove the know more button if you want you can replace the link with some other relevant link

[2022-10-22 18:07] RIKI-05 commented on #202
@Sidkul2000 go ahead make the pr

[2022-10-22 18:08] #163 closed

[2022-10-22 18:08] #172 closed

[2022-10-22 18:08] #179 closed

[2022-10-22 18:08] #183 closed

[2022-10-22 18:08] #191 closed

[2022-10-22 18:08] #194 closed

[2022-10-22 18:08] #197 closed

[2022-10-22 18:09] RIKI-05 commented on #204
@exotic123567 issue is already resolved

[2022-10-22 18:09] #204 closed

[2022-10-22 18:09] #201 closed

[2022-10-22 18:10] RIKI-05 commented on #199
@subratkumar46 plz do the necessary changes

[2022-10-22 18:11] RIKI-05 commented on #207
@MohitNamdev22 not sure if it's a good idea if you intend to make a separate page then plz go ahead

[2022-10-22 18:43] devwithsubhrajit2002 commented on #205
@RIKI-05 I will like to replace that with a relevant link
Ok assign me . I will complete this within today.

[2022-10-23 06:24] zugzwang03 opened #211 "Fix the footer of the contact page"
For mobile devices, the footer of the contacts page contains the social media icons overlapping with the name of the website. Possibly, if we can decrease the font size to some extent, it will fit well. Can I work on this issue under hacktoberfest'22?

![Screenshot_20221023-115137_Chrome](https://user-images.githubusercontent.com/95460021/197377368-c3aac53e-5491-4780-b225-bf345318057c.jpg)

[2022-10-23 06:32] Vanshiii203 opened #212 "making the navbar of contact us page responsive"
![Screenshot (495)](https://user-images.githubusercontent.com/94471189/197377680-d942107b-41f4-40b6-8460-4c91e6154a21.png)

[2022-10-23 07:02] Vanshiii203 opened #213 "Creating contributing.md file"
I would like to create a contributing.md file

[2022-10-25 12:03] m-mishra2001 commented on #212
can you please assign me this issue @RIKI-05

[2022-10-28 09:02] Vanshiii203 commented on #213
@RIKI-05  Plz assign me this issue

[2022-10-28 18:46] ankitbajpai65 opened #216 "Cart Icon should be on the navbar for better user experience"
Hello, while I was going through the website, I saw that the cart icon comes when we click any of the dish but when the user goes to add the variants of that dishes the cart icons goes up and not present in the viewable height so I think that the cart page icon should be on the navbar as it is sticky so the user will able to see the items he/she is adding. Please assign me this issue so that I can

[2022-10-29 15:28] RIKI-05 commented on #216
@ankitbajpai65  you can work on this issue

[2022-10-29 15:28] RIKI-05 commented on #211
@zugzwang03  you can work on it

[2022-10-29 15:29] #192 closed

[2022-10-29 15:29] #195 closed

[2022-10-29 15:29] #199 closed

[2022-10-29 15:29] #202 closed

[2022-10-29 15:29] #205 closed

[2022-10-29 15:29] #206 closed

[2022-10-29 15:29] RIKI-05 commented on #212
@Vanshiii203 you can work on the issue

[2022-10-29 15:30] RIKI-05 commented on #213
@Vanshiii203 go ahead with the issue

[2022-10-29 16:57] zugzwang03 commented on #211
Hey @RIKI-05, while I pulled all the files to work on this issue, I just discovered that some PR destroyed the whole mobile view of that page :(
![destroy](https://user-images.githubusercontent.com/95460021/198843741-0af76aec-e613-4fba-9c08-d7576158ede4.png)

[2022-10-29 19:37] AnshuPathak-88825 opened #220 "Add padding between RS and price"
![image](https://user-images.githubusercontent.com/78332454/198849759-9966f3a0-bb73-4819-b506-92d66276e696.png)

[2022-10-29 19:39] AnshuPathak-88825 opened #221 "Add smooth hover effect on icons"
![image](https://user-images.githubusercontent.com/78332454/198849825-1fcbea97-ca31-459d-aea8-8a66b44ef214.png)
pls assign me this issue

[2022-10-29 19:40] AnshuPathak-88825 commented on #220
pls assign me this issue

[2022-10-30 09:49] Vanshiii203 commented on #212
@RIKI-05 some PR destroyed the whole mobile view of contact us  page

[2022-10-30 15:19] RIKI-05 commented on #220
@AnshuPathak-88825 the issue is yours, plz do the necessary changes

[2022-10-30 15:20] #213 closed

[2022-10-30 15:21] RIKI-05 commented on #221
@AnshuPathak-88825  you can work on it

[2022-10-30 20:16] Mahich123 opened #223 "Improving modal"
I  am working on this section
![image](https://user-images.githubusercontent.com/69717681/198899714-31a8aede-db74-4e92-96a3-48a9716243e8.png)

Improving the UI I hope you will like it  can you assign me...

[2022-10-30 21:14] Mahich123 commented on #223
Made PR pls check the improvements and merge it

[2022-10-31 06:31] DHRUVKHANDELWAL00 commented on #221
hey @RIKI-05 , assign it to me please

[2022-10-31 08:43] logicalahara commented on #211
@zugzwang03, would love to contribute to this. Please assign it to me

[2022-11-01 12:19] dharmikjethva30 opened #226 "UI improvement"
![image](https://user-images.githubusercontent.com/97388367/199230867-7397416b-c3e0-469b-ad95-d382017ae213.png)
This looks very odd on website

[2022-11-02 17:28] RIKI-05 commented on #226
@dharmikjethva30  suggest any changes you want

[2022-11-02 17:29] #211 closed

[2022-11-02 17:29] #212 closed

[2022-11-02 17:29] #216 closed

[2022-11-02 17:29] #220 closed

[2022-11-02 17:29] #221 closed

[2022-11-02 17:29] #223 closed

[2022-11-07 11:23] codewithrabeeh opened #227 "New UI Screen Shot on Readme.md"
Since the UI has been changed a lot. Can I replace the screenshot with the new one? adding a gif of the landing page will be great and rest others with normal images.